{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block stylesheets %}
	{{parent()}}

	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
		{% if error %}
			<div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	
	<div class="container my-5 {{ connexionForm ? 'right-panel-active' : '' }}" id="container">
		<div class="form-container sign-up-container">
			<form action="{{path("app_register")}}" method="post">

				<h1 class="py-3">Créer un compte</h1>
				{{ form_start(registrationForm) }}
                    {{form_row(registrationForm.name , {'label':false, 'attr':{'placeholder':'Nom'}})}}
                    {{form_row(registrationForm.firstname , {'label':false, 'attr':{'placeholder':'Prenom'}})}}
                    {{form_row(registrationForm.email , {'label':false, 'attr':{'placeholder':'E-mail'}})}}
                    {{form_row(registrationForm.password , {'label':false , 'attr':{'placeholder':'Mot de passe'}})}}
					<button>Sign Up</button>
				{{ form_end(registrationForm) }}

			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="#" method="post">
				<h1 class="py-3">Connexion</h1>
				<input type="email" value="{{ last_username }}" placeholder="Email" name="email" class="form-control" required autofocus/>
				<input type="password" name="password" placeholder="Password" required/>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<a href="#">Mot de passe oublié?</a>
				<button type="submit">Connexion</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Bon retour !</h1>
					<p>Connectez vous ici pour votre retour chez nous.</p>
					<button class="ghost" id="signIn">Se connecter</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Salut l'ami !</h1>
					<p>Créez votre compte et commencez votre voyage avec nous.</p>
					<button class="ghost" id="signUp" type="submit">S'inscrire</button>
				</div>
			</div>
		</div>
	</div>
	{% for message in app.flashes('error') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
		
	{% endfor %}
{% endblock %}
{% block javascripts %}
	{{parent()}}

	{{ encore_entry_script_tags('login') }}
{% endblock %}
